<h2> My devices</h2>
<table class="table">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Description</th>
    <th scope="col">Arn Endpoint</th>
    <th scope="col">Topic</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let device of devices" (click)="onSelect(device)" [class.selected]="device === selectedDevice">
    <td>{{device.deviceId}}</td>
    <td>{{device.deviceDesc}}</td>
    <td>{{device.arnEndpoint}}</td>
    <td>{{device.topic}}</td>
  </tr>
  </tbody>
</table>

<!--<app-device-details [device]="selectedDevice"></app-device-details>-->

